$fonts: "Lucida Console", "Courier New", monospace;
$primary-color: #7ea785;
$spacing: 2rem;
$dark-grey: rgb(153, 153, 153);
$darker-grey: rgb(102, 99, 99);
$toolbar-color: #fff;
$box-shadow: 5px 5px 5px 5px #000;
$highlight-color: #57b3b7;
$link-spacer: 5px;
$margin-padding: -5%;